.header-index {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
}

.title-box {
  display: flex;
  width: 200px;
  height: 80px;
  margin: 0 20px 20px 0;
  font-weight: bold;
  color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bg-greenTwo {
  background-color: #75ecd3;
}

.bg-purpleTwo {
  background-color: #7a067e;
}

.bg-greenTen {
  background-color: #83b904;
}

.bg-fifteen {
  background-color: #ec3f0b;
}

.bg-lightGrey {
  background-color: #D3D3D3;
}

.bg-slateBlue {
  background-color: #7B68EE;
}

.bg-blue {
  background-color: #85a5ff;
}

.bg-purple {
  background-color: #9254de;
}

.bg-red {
  background-color: #f759ab;
}

.bg-green {
  background-color: #73d13d;
}

.bg-cyan {
  background-color: #13c2c2;
}

.bg-orange {
  background-color: #F17F42;
}

.bg-mediumGreen {
  background-color: #00FF7F;
}

.bg-blue_s {
  background-color: #0d63e6;
}

.bg-lightcoral {
  background-color: #F08080;
}

.bg-gord {
  background-color: #FFD700;
}

.bg-dimgray {
  background-color: #696969;
}
