.header-index {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
}

.title-box {
  display: flex;
  width: 200px;
  height: 80px;
  margin: 0 20px 20px 0;
  font-weight: bold;
  color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dashboard {

}

.bg-blue {
  background-color: #85a5ff;
}

.bg-purple {
  background-color: #9254de;
}

.bg-red {
  background-color: #f759ab;
}

.bg-green {
  background-color: #73d13d;
}

.bg-cyan {
  background-color: #13c2c2;
}

.bg-orange {
  background-color: #F17F42;
}

.bg-mediumGreen {
  background-color: #00FF7F;
}

.bg-blue_s {
  background-color: #0d63e6;
}
